.todolist-item {
  padding: 15px 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #9562e6;
  transition: background-color 0.5s ease, text-decoration 0.5s ease;
}
.todolist-item__label {
  width: 40px;
  border-radius: 50px;
  height: 20px;
  background-color: #07cb00d6;
  position: relative;
  transition: background-color 0.5s ease;
  flex-shrink: 0;
  cursor: pointer;
}
.todolist-item__label:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.todolist-item__label.complete {
  background-color: #18181896;
}
.todolist-item__label.complete:before {
  transform: translateX(-20px);
}
.todolist-item__complete {
  display: none;
}

.todolist-item__text {
  flex-grow: 1;
}
.todolist-item__delete,
.todolist-item__edit,
.todolist-item__info {
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.todolist-item__delete svg,
.todolist-item__edit svg,
.todolist-item__info svg {
  width: 100%;
  height: 100%;
  fill: #fff;
  transition: fill 0.5s ease, transform 0.5s ease;
}
.todolist-item__delete:hover svg,
.todolist-item__edit:hover svg,
.todolist-item__info:hover svg {
  fill: #2e1358;
  transform: translateY(-2px);
}
.todolist-item.complete {
  background-color: #919191;
}
.todolist-item.complete .todolist-item__text {
  text-decoration: line-through;
}
.todolist-item.complete .todolist-item__complete {
  background-color: #656565;
}
.todolist-edit-input {
  flex-grow: 1;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #9562e6;
  outline: none;
}
.todolist-edit-button {
  flex-shrink: 0;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #2e1358;
  background-color: #2e1358;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.5s ease, background-color 0.5s ease;
  &:hover {
    border-color: #593790;
    background-color: #593790;
  }
}
.todolist-edit-close {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  & svg {
    width: 100%;
    height: 100%;
    fill: #fff;
    transition: transform 0.5s ease;
  }
}
.todolist-edit-close:hover svg {
  transform: rotate(90deg);
}
@media screen and (min-width: 768px) {
  .todolist-item {
    padding: 20px 15px;
    font-size: 18px;
  }
  .todolist-item__complete {
    width: 20px;
    height: 20px;
  }
  .todolist-item__complete:checked::before {
    font-size: 17px;
  }
}
@media screen and (max-width: 649px) {
  .todolist-item.edit {
    flex-wrap: wrap;
  }
  .todolist-item.edit .todolist-edit-input {
    width: 100%;
  }
}
